
.modal-title{
    font-size:$h4-font-size;
}

.button-position{
 margin-left: 80%;
}

.form-title{
    font-size:$h5-font-size ;
}

.form-setting{
    width: 100%;
    height: 40px;
}


.form-subtitle{
    font-size: $sm-font-size;
}

.form-line{
    margin: auto;
    color:$gray-400;
    
}


.form-block{
    display: block;
    width: 100%;
    
    
}

select{
    width: 450px;
    height:40px;
}

.table{
    width: 96%;
}

footer{
    margin-left: 82%;
}


