

.form-setting{
    width: 100%;
    height: 40px;
}


.form-subtitle{
    font-size: $sm-font-size;
}

.form-block{
    display: block;
    width: 100%;
    
    
}

.table{
    width: 96%;
}






