
a{
    text-decoration: none;
    color: $dark;

    &:hover{
        color:$primary;
    }
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.material-icons:hover{
    color:$primary;
}