.container{
    
    margin: 0 auto;
   
    .sub-title{
        font-size: $mini-font-size;
    }

    .w-80{
        max-width: 44rem;
    }

    .photo{

        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
    

    .green-text{
        color: $primary;
    }

    .content{
        font-size: $sm-font-size;
    }

    .line{
        margin: auto;
        width: 90%;
        color:$gray-400;
        
    }
    
   

    .right-block ul {
        padding-left: 0;
        text-indent: 2rem;
        list-style: none;
       }
       .right-block li {
        position: relative;
       }
       .right-block li::before {
        content: '';
        position: absolute;
        top: 12px;
        left: 8px;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background: #000;
       }
    
}










