.container{

    margin: 0 auto;

    .header{
        
        .h4-title{
            font-size: $h4-font-size;  
        }
    }
    
    .click-menu:hover{
        background-color: $gray-400;
    }

    .search-icon{
        margin-left: auto;
    }
    
    .sub-title{
        font-size: $mini-font-size;
    }

    .w-80{
        width: 44rem;
    }

    .photo{
   
        max-width: 20%;
        height: 50px;
        border-radius: 50%;
    }
    

    .green-text{
        color: $primary;
    }

    .content{
        font-size: $sm-font-size;
    }

    .line{
        margin: auto;
        width: 90%;
        color:$gray-400;
        
    }

   
    
}












