.container{
    
    margin: 0 auto;
    margin-left: 296px;
  

    .sub-title{
        font-size: $mini-font-size;
    }

    .w-80{
        max-width: 44rem;
    }

    .photo{

        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
    

    .green-text{
        color: $primary;
    }

    .content{
        font-size: $sm-font-size;
    }

    .line{
        margin: auto;
        width: 90%;
        color:$gray-400;
        
    }


   
    
}












