.nav-left {

    width: 296px;
    height: 100vh;
    position: fixed;

    .menu{

        margin-left: 32px;


        .logo{
            margin-top: 40px;
        }
        

        &-list{
            margin-top: 40px;

            .color{
                color: $dark;

            }

            .color:hover{
                color: $primary;
            }
            
        }

    }
}


.name{
    margin-top:auto;

    .author{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    .mail{
        color:$gray-600 ;
    }
    
    
}


