$primary:#198754;
$dark:#212529;
$gray-100:#F8F9FA;
$gray-400:#CED4DA;
$gray-600:#6C757D;


$font-size-base:16px;
$mini-font-size:$font-size-base*0.75; //12px
$sm-font-size:$font-size-base*0.875; //14px


$line-height:1.5
